/*------------Шрифты-------------*/
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'), local('MontserratExtraBold') url("/fonts/Montserrat-ExtraBold.woff");
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'), local('MontserratSemiBold') url("/fonts/Montserrat-SemiBold.woff");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), local('MontserratBold') url("/fonts/Montserrat-Bold.woff");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), local('MontserratRegular') url("/fonts/Montserrat-Regular.woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'), local('MontserratMedium') url("/fonts/Montserrat-Medium.woff");
  font-display: swap;
  font-weight: 500;
}



@font-face {
  font-family: 'MullerBold';
  src: local('Muller-Bold'), local('MullerBold') url("/fonts/MullerBold.woff");
  font-weight: normal;
  font-weight: 700;
  font-display: swap;

}

@font-face {
  font-family: 'MullerMedium';
  src: local('Muller-Medium'), local('MullerMedium') url("/fonts/MullerMedium.woff");
  font-style: normal;
  font-weight: normal;
  font-weight: 400; /*толщина шрифта*/
  font-display: swap;
}

@font-face {
  font-family: 'MullerRegular';
  src:  local('Muller-Regular'), local('MullerRegular') url("/fonts/MullerRegular.woff");
  font-style: normal;
  font-weight: normal;
  font-weight: 400; 
  font-display: swap;
}