/* --- header --- */

.header {
    padding: 1px 0;
    background-color: var(--white);
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0 0 10px var(--black);
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  
  .header__menu {
    display: flex;
  }
  
  .header__logo {
    display: block;
    margin-right: 40px;
  }
  
  .header__logo__img {
    height: 95px;
  }
  .header__name {
    text-align: center;
  }
  .header__name__p{
    font-family: 'MullerRegular';
    font-size: 16px;
  }
  
  .header__recycle:hover svg path{
    fill: var(--gold-color);
    transition: .2s;
  }
  .header__recycle:focus {
    border-bottom: none;
    outline: 2px solid var(--orange);
    outline-offset: 5px;
  }
  
  .header__recycle:active {
    border-bottom: 1px solid var(--orange-active);
  }
  .header__menu__list {
    display: flex;
    margin-right: 70px;
    margin-top: 0px;
    flex-wrap: wrap;
    gap: 10px 70px;
  }
  
  /* .header__item:not(:first-child){
    margin-left: 85px;
    } -- переход на gap*/
  .header__mobaile__menu {
    display: none;
    margin-right: auto;
  }
  
  .header__item__link {
    color: var(--black);
    font-family: 'MullerRegular';
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
  }
  
  .header__item__link:hover {
    border-bottom: 2px solid #FF9900;
  }
  
  .header__item__link:focus {
    border-bottom: none;
    outline: 2px solid var(--orange);
    outline-offset: 5px;
  }
  
  .header__item__link:active {
    border-bottom: 1px solid var(--orange-active);
  }
  
  .header__menu-button {
    margin-bottom: 13px;
    cursor: pointer;
    margin: 0;
  
  }
  
  .header__bottoms {
    display: flex;
    margin-bottom: 5px;
    gap: 20px;
  }
  
  .button__indent {
    display: flex;
    height: auto;
    width: auto;
  }
  
  .button__indent__a {
    padding: 10px 35px;
  }
  
  .header__recycle__svg {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
  }
  
  .header__recycle {
    margin-bottom: 5px;
  }
  
  .search {
    position: absolute;
    display: none;
    align-items: center;
    right: 6px;
    width: 539px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    padding: 18px 18px 18px 32px;
    border-radius: 24px;
  }
  
  .search__form__faсe {
    display: flex;
  }
  
  .search__form__close {
    margin-left: 22px;
    cursor: pointer;
  }
  
  .search__form__send {
    margin-left: 14px;
    cursor: pointer;
  }
  
  .search__input {
    width: 100%;
    padding: 8px 14px;
    border: none;
    border-radius: none;
    border-bottom: 1px solid var(--gray);
  }
  
  .search__for__input:focus {
    outline: none;
    border-color: var(--black);
  }
  
  .container-ten {
    display: flex;
  }
  
  .contact__one {
    display: flex;
    flex-direction: column;
  }
  
  .contact .bottom {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
  }
  
  .contact .top p {
    text-align: right;
  }
  
  .display {
    display: none;
  }
  .dropbutton{
    padding: 10px 35px;
  }
  .header__other{
    position: relative;
    display: inline-block;
  }
  .drop-down{
    position: absolute;
    background-color: var(--white);
    min-width: 100px;
    display: none;
    align-items: center;
  }
  .drop-down a{
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: 10px 15px;
    z-index: 4;
  }
  .drop-down a:hover{
    background-color: var(--gold-color);
    color: var(--white);
    transition: all .3s;
    border-radius: 10px;
  }
  .header__other:hover .drop-down{
    display: block;
    z-index: 2;
    border-radius: 10px;
  }
  /* ----- hustory -----*/
  .historyorder {
    flex-grow: 1;
}

.historyorder__table {
    margin: auto;
    /*----Центрирование по центру---*/
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
    border-collapse: collapse;
    /*--Убрать сетку--*/
}

.historyorder__table td,
.products__table tr {
    text-align: center;
    padding: 10px 0;
}

.historyorder__table__header {
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
}

.historyorder__header__regular {
    font-family: 'MullerRegular';
    font-size: 14px;
}

.historyorder__header__bold {
    font-family: 'MullerRegular';
    font-size: 14px;
    color: var(--dark);
    font-weight: 700;
}

tr:nth-child(even) {
    background: var(--gold-x);
}

tbody tr {
    transition: 0.3s;
    cursor: pointer;
}

tbody td {
    outline: 1px solid var(--gray);
}


tbody tr:nth-child(even):hover,
tbody tr:nth-child(odd):hover {
    position: relative;
    z-index: 1;
    background-color: var(--green-y);
    box-shadow: 0 4px 16px var(--dark-brown);
}

.historyorder_a {
    color: var(--gray-gray);
}

.historyorder_a:hover {
    color: var(--dark-green);
}

.historyorder_a:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.historyorder_a:active {
    color: var(--dark-brown);
}

.historyorder__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyorder__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.historyorder__link__item {
    display: block;
    outline: 2px solid var(--green);
    border-radius: 5px;
    padding: 10px 30px;

    font-family: 'MullerBold';
    font-size: 18px;
    color: var(--black);

    transition-duration: 0.2s, 0.3s;
    cursor: pointer;
}

.historyorder__link__item:hover {
    background-color: var(--green);
    color: var(--white);
    transition-duration: 0.2s, 0.3s;
}

.historyorder__link__item:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.historyorder__link__item:active {
    background-color: var(--dark-green);
    color: var(--white);
}

.historyorder__link__itemone {
    display: block;
    background-color: var(--white-green);
    border-radius: 5px;
    padding: 10px 30px;

    font-size: 18px;
    color: var(--black);

    transition-duration: 0.2s, 0.3s;
    cursor: pointer;
}

.historyorder__link__itemone:hover {
    background-color: var(--green);
    color: var(--white);
    transition-duration: 0.2s, 0.3s;
}

.historyorder__link__itemone:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.historyorder__link__itemone:active {
    background-color: var(--dark-green);
    color: var(--white);
}


/* катигории-кнопки */

.historyorder__table__change {
    outline: none;
    border: 1px;
    border-color: var(--white-green);
    border-style: solid;
    text-align: center;
    line-height: 1;
    border-radius: 10px;
    font-family: 'MullerRegular';
    cursor: pointer;
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.3s;
    padding: 3px 10px;
}

.historyorder__table__change:hover {
    background-color: var(--green);
    color: var(--white);
}

.historyorder__table__change:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.historyorder__table__change:active {
    background-color: var(--dark-green);
    color: var(--white);
}

.table-responsive{
    max-height: 50vh;
    overflow-y: scroll;
    padding: 15px;
  }

  /*----- footer -----*/
  footer {
    width: 100%;
    background: black;
    color: gray;
    padding: 25px 0;
    margin-top: var(--section-gap);
  }
  
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__info {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer__text {
    max-width: 363px;
    padding: 75px 0;
  }
  
  .footer__form {
    max-width: 400px;
  }
  
  .footer__form input {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    height: 60px;
    width: 570px;
  }
  
  .footer__form textarea {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    height: 90px;
  }
  
  .footer__form input,
  .footer__form textarea {
    outline: 0;
    border: none;
    background: #fff;
    color: #c5cfca;
    border-radius: 16px;
    padding: 14px 24px;
  
  }
  
  .footer__form input:focus,
  .footer__form textarea:focus {
    outline: 0;
  }
  
  .footer__form form,
  .footer__form input,
  .footer__form textarea {
    width: 100%;
    box-sizing: border-box;
  }
  
  .footer__title,
  .footer__form input {
    margin-bottom: 25px;
  }
  
  .footer__form textarea {
    margin-bottom: 29px;
    resize: none;
    /*без расширения*/
  }
  
  .footer__link {
    color: var(--gray);
    font-family: 'MullerMedium';
    font-size: 18px;
    line-height: 34px;
    text-decoration: none;
    margin-top: 50px;
    padding: 2px 5px;
  }
  
  .footer__link:hover {
    color: gold;
  }
  
  .footer__link:focus {
    outline: 1px solid gold;
    color: gray;
  }
  
  .--smail-one {
    margin-right: 25px;
  }
  
  .footer__text {
    color: var(--gray);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
  }
  
  .footer__smail {
    display: flex;
    margin-top: 20px;
  }
  
  
  .smail:hover svg path {
    fill: gold;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.3s;
  }
  
  .footer-button {
    width: inherit;
    padding: 0.6em 1.2em;
  }
  
  .smail:focus {
    outline: 1px solid gold;
  }
  
  .footer__logomini {
    display: none;
  }
  
  .footer__indent {
    margin-top: 20px;
  }
  
  .footer__logo {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    .container {
      padding: 0 10px !important;
    }
  }