* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

header {
    height: 100px;
}

.container {
    margin: auto;
    padding: 0 50px;
    max-width: 1870px;
    width: 100%;
}

.none {
    max-height: 0;
    overflow: hidden;
}

.button {
    outline: none;
    border: 1px;
    border-color: var(--gold-color);
    border-style: solid;
    text-align: center;
    line-height: 1;
    border-radius: 10px;
    font-family: 'MullerRegular';
    cursor: pointer;
    color: var(--gold-color);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.3s;
}

.button:hover {
    background-color: var(--gold-color);
    color: var(--white);
}

.button:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.button:active {
    background-color: var(--brown-cold);
    color: var(--white);
}

.buttontwo {
    background-color: var(--grey-color);
    color: var(--white);
    transition-property: color, background-color;
    border-radius: 10px;
    transition-duration: 0.2s, 0.3s;
    text-align: center;
}

.buttontwo:hover {
    background-color: var(--dark-light);
    color: var(--white);
}

.buttontwo:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.buttontwo:active {
    background-color: var(--black);
    color: var(--white);
}

.is-active:hover {
    border-bottom: 1px solid var(--orenge-hover);
}

.is-active {
    border-bottom: 1px solid var(--gray);
}

h2 {
    font-family: 'MullerRegular';
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
}

p {
    font-family: 'MullerMedium';
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.second__level__heading {
    /* margin-top: 70px; */
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.flex.aic {
    align-items: center;
}

.form__label-top {
    top: -18px !important;
    font-size: 12px;
    color: var(--gray) !important;
}

/*------------popap-----------*/
.popapwrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, .8);
}

.popapwrapper__popap {
    position: relative;
    margin: auto;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
    letter-spacing: 1px;
    font-family: 'MullerBold';
    font-size: 16px;
    background: var(--white);
}

.popapwrapper__clouse {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 30px;
}
.popapwrapper__clouse:hover svg path {
    fill: var(--dark-green);
    transition: .3s;
}

.popapwrapper__clouse:focus svg path {
    outline: 2px solid var(--dark-green);
    outline-offset: 5px;
}

.popapwrapper__clouse:active svg path {
    fill: var(--dark-green);
}
.popapwrapper__clouse:active svg{
    outline: 2px solid var(--dark-green)
}