* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: url('https://vsthemes.org//uploads/cursors/48862/e3436134cec2166922b836b0ee17e50e.webp'), auto; */
}

/* a:hover {
    cursor: url('foo519.cur'), auto;
} */
/**/

/*---- scroll-----*/
.scroll{
    overflow: scroll;
}

html::-webkit-scrollbar,
.scroll::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

html::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb{
    background: var(--gray);
}

html::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track{
    /* фон */
    background: var(--black);
}

.scrolladmin::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.scrolladmin::-webkit-scrollbar-thumb {
    background: var(--gray);
}

.scrolladmin::-webkit-scrollbar-track {
    /* фон */
    background: var(--black);
}

/* ---- other----*/

body {
    min-width: 320px;
}

header {
    height: 100px;
}

.container {
    margin: auto;
    padding: 0 50px;
    max-width: 1870px;
    width: 100%;
}

.none {
    display: none !important;
}

.overflow_yscroll {
    overflow-y: scroll;
}

.button {
    outline: none;
    border: 1px;
    border-color: var(--gold-color);
    border-style: solid;
    text-align: center;
    line-height: 1;
    border-radius: 10px;
    font-family: 'MullerRegular';
    cursor: pointer;
    color: var(--gold-color);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.3s;
}

.button:hover {
    background-color: var(--gold-color);
    color: var(--white);
}

.button:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.button:active {
    background-color: var(--brown-cold);
    color: var(--white);
}

.buttontwo {
    background-color: var(--grey-color);
    color: var(--white);
    transition-property: color, background-color;
    border-radius: 10px;
    transition-duration: 0.2s, 0.3s;
    text-align: center;
}

.buttontwo:hover {
    background-color: var(--dark-light);
    color: var(--white);
}

.buttontwo:focus {
    transition: background 0.3s ease, color 0.2s linear;
}

.buttontwo:active {
    background-color: var(--black);
    color: var(--white);
}

.is-active:hover {
    border-bottom: 1px solid var(--orenge-hover);
}

.is-active {
    border-bottom: 1px solid var(--gray);
}

h2 {
    font-family: 'MullerRegular';
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
}

p {
    font-family: 'MullerMedium';
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.flex {
    display: flex;
}

.flex.aic {
    align-items: center;
}

.form__label-top {
    top: -18px !important;
    font-size: 12px;
    color: var(--gray) !important;
}

/*------------popup-----------*/
.popupwrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, .8);

}


.popupwrapper__popup {
    position: relative;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
    letter-spacing: 1px;
    font-family: 'MullerBold';
    font-size: 16px;
    background: var(--white);
    max-height: 95vh;
    border-radius: 32px;
    /* overflow-y: scroll; */

}

/*---- scroll-----*/

.popupwrapper__popup::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.popupwrapper__popup::-webkit-scrollbar-thumb {
    background: var(--gray);
}

.popupwrapper__popup::-webkit-scrollbar-track {
    background: var(--black);
}

/* .popupwrapper__popup-scroll::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.popupwrapper__popup-scroll::-webkit-scrollbar-thumb {
    background: var(--gray);
}

.popupwrapper__popup-scroll::-webkit-scrollbar-track {
    background: var(--black);
} */

/*------------------*/
.popupwrapper__clouse {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 35px;
    z-index: 2;
}

.popupwrapper__clouse:hover svg path {
    fill: var(--dark-green);
    transition: .3s;
}

.popupwrapper__clouse:focus svg path {
    outline: 2px solid var(--dark-green);
    outline-offset: 5px;
}

.popupwrapper__clouse:active svg path {
    fill: var(--dark-green);
}

.popupwrapper__clouse:active svg {
    outline: 2px solid var(--dark-green)
}