/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.order__form__close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.order {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgba(0, 0, 0, .8);
}

.order__form {
  position: relative;
  margin: auto;
  width: 768px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--brown-cold);
  letter-spacing: 1px;
  font-family: 'MullerRegular';
  font-size: 16px;
  background: var(--white);
}

.order__form__title {
  text-align: center;
  padding: 0 0 20px 0;
}

.order__form__group {
  position: relative;
  margin-bottom: 20px;
}

.order__form__label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: var(--dark-brown);
  transition: 0.3s;

}

.order__form__input {
  font-family: 'MullerBold';
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.order__form__input:focus {
  border-bottom: 1px solid var(--brown-cold);
}

.order__form__button {
  display: block;
  padding: 0.8em 1.2em;
  cursor: pointer;
  text-decoration: none;
}

.form__button-disabled {
  color: var(--dark);
  background-color: var(--gray);
  pointer-events: none;
  font-size: 700;
}


.order__form__input:focus~.order__form__label,
.order__form__input:not(:placeholder-shown)~.order__form__label {
  top: -18px;
  font-size: 12px;
  color: var(--gray-gray);
}

.order__form__style {
  justify-content: space-between;
  gap: 30px;
}

.order__form__gender {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.order__form__title__gender {
  margin-bottom: 20px;
}

.order__form__gender input:nth-child(2) {
  margin-left: 40px;
}

.order__img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.order__parent {
  gap: 5px;
}

.order__home {
  gap: 10px;
}

.order__left {
  width: 35%;
}

.order__promo {
  gap: 20px;
}
.order__form__delivery{
  gap: 15px;
}

/*--------------------------------------*/
.mtb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.order {
  flex-grow: 1;
}

.order__table {
  margin: auto;
  /*----Центрирование по центру---*/
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--brown-cold);
  border-collapse: collapse;
  /*--Убрать сетку--*/
  margin-bottom: 10px;
}

.order__table td,
.products__table tr {
  text-align: center;
  padding: 5px;
}

.order__table__header {
  /* position: sticky;
  top: -15px; */
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--brown-cold);
  z-index: 2;
}
/* .order__table__header td {
  background: var(--white);
}
.order__table__header td:nth-child(1) {
  border-top-left-radius: 10px;
}
.order__table__header td:nth-last-child(1) {
  border-top-right-radius:10px;
} */

.order__header__regular {
  font-family: 'MullerRegular';
  font-size: 14px;
}

.order__header__bold {
  font-family: 'MullerRegular';
  font-size: 14px;
  font-weight: 700;
}

tr:nth-child(even) {
  background: var(--gold-x);
}

tbody tr {
  transition: 0.3s;
  cursor: pointer;
}

tbody td {
  outline: 1px solid var(--gray);
}


tr:nth-child(even):hover,
tr:nth-child(odd):hover {
  position: relative;
  z-index: 1;
  background-color: var(--green-y);
  box-shadow: 0 4px 16px var(--dark-brown);
  border-radius: 7px;
}

.order_a {
  color: var(--gray-gray);
  text-decoration: none;
  font-size: 14px;
}

.order_a:hover {
  color: var(--dark-green);
}

.order_a:focus {
  transition: background 0.3s ease, color 0.2s linear;
}

.order_a:active {
  color: var(--dark-brown);
}

.order__info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.order__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  gap: 50px;
}

.order__link__item {
  display: block;
  outline: 2px solid var(--green);
  border-radius: 5px;
  padding: 10px 30px;

  font-family: 'MullerBold';
  font-size: 18px;
  color: var(--black);

  transition-duration: 0.2s, 0.3s;
  cursor: pointer;
}

.order__link__item:hover {
  background-color: var(--green);
  color: var(--white);
  transition-duration: 0.2s, 0.3s;
}

.order__link__item:focus {
  transition: background 0.3s ease, color 0.2s linear;
}

.order__link__item:active {
  background-color: var(--dark-green);
  color: var(--white);
}

.order__link__itemone {
  display: block;
  background-color: var(--white-green);
  border-radius: 5px;
  padding: 10px 30px;

  font-family: 'MullerBold';
  font-size: 18px;
  color: var(--black);

  transition-duration: 0.2s, 0.3s;
  cursor: pointer;
}

.order__link__itemone:hover {
  background-color: var(--green);
  color: var(--white);
  transition-duration: 0.2s, 0.3s;
}

.order__link__itemone:focus {
  transition: background 0.3s ease, color 0.2s linear;
}

.order__link__itemone:active {
  background-color: var(--dark-green);
  color: var(--white);
}

/* .table-responsive{
    overflow-x: auto;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
  } */
/* катигории-кнопки */

.order__table__change {
  outline: none;
  border: 1px;
  border-color: var(--white-green);
  border-style: solid;
  text-align: center;
  line-height: 1;
  border-radius: 10px;
  font-family: 'MullerRegular';
  cursor: pointer;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  transition-property: color, background-color;
  transition-duration: 0.2s, 0.3s;
  padding: 3px 10px;
}

.order__table__change:hover {
  background-color: var(--green);
  color: var(--white);
}

.order__table__change:focus {
  transition: background 0.3s ease, color 0.2s linear;
}

.order__table__change:active {
  background-color: var(--dark-green);
  color: var(--white);
}
.order__agreement{
  color: var(--white-green);
  text-decoration: none;
}
.order__agreement:hover{
  color: var(--light-gold);
  transition: .3s;
}
.order__right{
  max-height: 500px;
  overflow-y: scroll;
  padding: 17px;
}
.order__right::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.order__right::-webkit-scrollbar-thumb {
  background: var(--gray);
}
.order__right::-webkit-scrollbar-track { /* фон */
  background: var(--black);
}
/*-------------Checkbox-----------------*/

.checkbox {
  display: inline-block;
}

.checkbox__inp {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: inline-block;
  position: relative;
  font-style: 36px;
  padding-left: 37px;
  margin-bottom: 25px;

}

.checkbox__inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 28px;
  height: 14px;
  border-radius: 9px;
  background-color: var(--brown-cold);
  transition: background-color .3s;
}

.checkbox__inner::after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 7px;
  background-color: var(--white);
  left: 1px;
  top: 3px;
  transition: background-color .3s, left .3s;
}

.checkbox__inp:checked+.checkbox__inner::before {
  background-color: var(--white-green);
}

.checkbox__inp:checked+.checkbox__inner::after {
  background-color: var(--white);
  left: 16px;
}

/* .checkbox__inp:checked+.checkbox__inner:before {
    outline: 1px solid gray;
    outline-offset: 3px;
  } */
.order__form__close {
  width: 30px;
}

.order__form__close:hover svg path {
  fill: var(--dark-green);
  transition: .3s;
}

.order__form__close:focus {
  outline: 2px solid var(--dark-green);
  outline-offset: 5px;
}

.order__form__close:active svg path {
  fill: var(--dark-green);
}

.order__form__close:active svg {
  outline: 2px solid var(--dark-green);
}
/*-------------Checkbox-----------------*/

.checkbox {
  display: inline-block;
}

.checkbox__inp {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: inline-block;
  position: relative;
  font-style: 36px;
  padding-left: 37px;
  margin-bottom: 25px;

}

.checkbox__inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 28px;
  height: 14px;
  border-radius: 9px;
  background-color: var(--brown-cold);
  transition: background-color .3s;
}

.checkbox__inner::after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 7px;
  background-color: var(--white);
  left: 1px;
  top: 3px;
  transition: background-color .3s, left .3s;
}

.checkbox__inp:checked+.checkbox__inner::before {
  background-color: var(--white-green);
}

.checkbox__inp:checked+.checkbox__inner::after {
  background-color: var(--white);
  left: 16px;
}

/* .checkbox__inp:checked+.checkbox__inner:before {
    outline: 1px solid gray;
    outline-offset: 3px;
  } */
.ordertwo__form__close {
  width: 30px;
}

.ordertwo__form__close:hover svg path {
  fill: var(--dark-green);
  transition: .3s;
}

.ordertwo__form__close:focus {
  outline: 2px solid var(--dark-green);
  outline-offset: 5px;
}

.ordertwo__form__close:active svg path {
  fill: var(--dark-green);
}

.ordertwo__form__close:active svg {
  outline: 2px solid var(--dark-green);
}
.login__form__title {
  text-align: center;
  padding: 0 0 11px 0;
}
/*--------------Radio-------------------*/

.radio {
  position: relative;
  margin-bottom: 30px;
}

.radio__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__label {
  padding-left: 25px;
  color: var(--dark-brown);
  cursor: pointer;
}

.radio__label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border: 1px solid var(--dark-brown);
  background-color: white;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.radio__label::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;


  background-color: var(--white-green);
  border-radius: 50%;
  opacity: 0;

  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
}

.radio__input:checked+.radio__label:before {
  border-color: var(--white-green);
}

.radio__input:checked+.radio__label:after {
  opacity: 1;
}

.mypage__form__style {
  gap: 20px;
}
.mypage__form__styletwo {
  display: inline-grid;
  gap: 18px;
}

.mypage__photo__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.form__style__order{
  font-size: 15px;
  gap: 10px;
}
