/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.register__form__close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.register {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgba(0, 0, 0, .8);
}

.register__form {
  position: relative;
  margin: auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--brown-cold);
  letter-spacing: 1px;
  font-family: 'MullerRegular';
  font-size: 14px;
  background: var(--white);
}

.register__form__title {
  text-align: center;
  padding: 0 0 20px 0;
}

.register__form__group {
  position: relative;
  margin-bottom: 30px;
}

.register__form__label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: var(--dark-brown);
  transition: 0.3s;

}

.register__form__input {
  font-family: 'MullerBold';
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.register__form__input:focus {
  border-bottom: 1px solid var(--brown-cold);
}

.register__form__button {
  display: block;
  padding: 0.8em 1.2em;
  cursor: pointer;
  text-decoration: none;
}

.form__button-disabled {
  color: var(--dark);
  background-color: var(--gray);
  pointer-events: none;
  font-size: 700;
}


.register__form__input:focus~.register__form__label,
.register__form__input:not(:placeholder-shown)~.register__form__label {
  top: -18px;
  font-size: 12px;
  color: var(--gray-gray);
}

.register__form__style {
  justify-content: space-between;
  gap: 30px;
}

.register__form__gender {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.register__form__title__gender {
  margin-bottom: 20px;
}

.register__form__gender input:nth-child(2) {
  margin-left: 40px;
}

/*--------------Radio-------------------*/

.radio {
  position: relative;
  margin-bottom: 30px;
}

.radio__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__label {
  padding-left: 25px;
  color: var(--dark-brown);
  cursor: pointer;
}

.radio__label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border: 1px solid var(--dark-brown);
  background-color: white;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.radio__label::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;


  background-color: var(--white-green);
  border-radius: 50%;
  opacity: 0;

  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
}

.radio__input:checked+.radio__label:before {
  border-color: var(--white-green);
}

.radio__input:checked+.radio__label:after {
  opacity: 1;
}

.register__form__style__gender {
  justify-content: flex-start;
  gap: 50px;
}

/*-------------Checkbox-----------------*/

.checkbox {
  display: inline-block;
}

.checkbox__inp {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: inline-block;
  position: relative;
  font-style: 36px;
  padding-left: 37px;
  margin-bottom: 25px;

}

.checkbox__inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 28px;
  height: 14px;
  border-radius: 9px;
  background-color: var(--brown-cold);
  transition: background-color .3s;
}

.checkbox__inner::after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 7px;
  background-color: var(--white);
  left: 1px;
  top: 3px;
  transition: background-color .3s, left .3s;
}

.checkbox__inp:checked+.checkbox__inner::before {
  background-color: var(--white-green);
}

.checkbox__inp:checked+.checkbox__inner::after {
  background-color: var(--white);
  left: 16px;
}

/* .checkbox__inp:checked+.checkbox__inner:before {
  outline: 1px solid gray;
  outline-offset: 3px;
} */
.register__form__close {
  width: 30px;
}
.register__form__close:hover svg path{
  fill: var(--dark-green);
  transition: .3s;
}
.register__form__close:focus {
  outline: 2px solid var(--dark-green);
  outline-offset: 5px;
}

.register__form__close:active svg path{
  fill: var(--dark-green);
}
.register__form__close:active svg {
  outline: 2px solid var(--dark-green);
}
.login__form__title {
  text-align: center;
  padding: 0 0 11px 0;
}

/*----------------------Captcha--------------------------*/
#image {
  font-weight: 400;
  user-select: none;
  text-decoration: line-through;
  font-style: italic;
  font-size: x-large;
}

input {
  border: 1px black solid;
}

.inline {
  display: inline-block;
}

.update__icon {
  width: 30px;
  cursor: pointer;
}

.register__form__style__captcha {
  gap: 20px;
}
.checkbox__agreement{
  color: var(--white-green);
}
.checkbox__agreement:hover{
  color: var(--light-gold);
  transition: .3s;
}