/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.form__style{
    width: 100%;
}
.form__group{
    margin-bottom: 10px !important;
}
.form__title{
    padding: 0 !important;
}
.slider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, .8);
}

.slider__form {
    position: relative;
    margin: auto;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
    letter-spacing: 1px;
    font-family: 'MullerRegular';
    font-size: 16px;
    background: var(--white);
}

.slider__form__title {
    text-align: center;
    padding: 0 0 20px 0;
}

.slider__form__group {
    position: relative;
    margin-bottom: 10px;
}

.slider__form__grouptwo {
    position: relative;
}

.slider__form__label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: var(--dark-brown);
    transition: 0.3s;

}

.slider__form__input {
    font-family: 'MullerBold';
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.slider__form__input:focus {
    border-bottom: 1px solid var(--brown-cold);
}

.slider__form__button {
    display: block;
    padding: 0.8em 1.2em;
    cursor: pointer;
    text-decoration: none;
}

.slider__form__button-disabled {
    background-color: var(--gray-gray);
    pointer-events: none;
}


.slider__form__input:focus~.slider__form__label,
.slider__form__input:not(:placeholder-shown)~.slider__form__label {
    top: -18px;
    font-size: 12px;
    color: var(--gray-gray);
}

.slider__form__gender {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.slider__form__title__gender {
    margin-bottom: 20px;
}

.slider__form__gender input:nth-child(2) {
    margin-left: 40px;
}

/*--------------Radio-------------------*/

.radio {
    position: relative;
    margin-bottom: 30px;
}

.radio__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio__label {
    padding-left: 25px;
    color: var(--dark-brown);
    cursor: pointer;
}

.radio__label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid var(--dark-brown);
    background-color: white;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.radio__label::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;


    background-color: var(--white-green);
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
}

.radio__input:checked+.radio__label:before {
    border-color: var(--white-green);
}

.radio__input:checked+.radio__label:after {
    opacity: 1;
}

.slider__form__style {
    width: 100%;
    gap: 20px;
}
.slider__form__styletwo {
    display: inline-grid;
    gap: 18px;
}

.slider__form__style__gender {
    justify-content: flex-start;
    gap: 50px;
}

.slider__photo__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/*-------------Checkbox-----------------*/

.checkbox {
    display: inline-block;
}

.checkbox__inp {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
}

.checkbox__inner {
    display: inline-block;
    position: relative;
    font-style: 36px;
    padding-left: 37px;
    margin-bottom: 25px;

}

.checkbox__inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 28px;
    height: 14px;
    border-radius: 9px;
    background-color: var(--brown-cold);
    transition: background-color .3s;
}

.checkbox__inner::after {
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: var(--white);
    left: 1px;
    top: 3px;
    transition: background-color .3s, left .3s;
}

.checkbox__inp:checked+.checkbox__inner::before {
    background-color: var(--white-green);
}

.checkbox__inp:checked+.checkbox__inner::after {
    background-color: var(--white);
    left: 16px;
}

/* .checkbox__inp:checked+.checkbox__inner:before {
  outline: 1px solid gray;
  outline-offset: 3px;
} */
.slider__form__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 30px;
}

.slider__form__close:hover svg path {
    fill: var(--dark-green);
    transition: .3s;
}

.slider__form__close:focus svg path {
    outline: 2px solid var(--dark-green);
    outline-offset: 5px;
}

.slider__form__close:active svg path {
    fill: var(--dark-green);
}
.slider__form__close:active svg{
    outline: 2px solid var(--dark-green)
}

.slider__form__title {
    text-align: center;
    padding: 0 0 11px 0;
}

.slider__photo__left {
    width: 15%;
    display: grid;
    gap: 5px;
}

.slider__photo {
    width: 100%;
    border: 1px solid var(--gold-color);
    border-radius: 24px;
}

.slider__link {
    gap: 20px;
    align-items: center;
}

.slider__photo__link {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}
.slider__btn{
    padding: .4em;
}