@import "normalize.css";
@import "fonts.css";
@import "main.css";
@import "varialdes.css";

/*-----------Components------------*/

@import "componets/header.css";
@import "componets/hero.css";
@import "componets/about.css";
@import "componets/list.css";
@import "componets/questions.css";
@import "componets/contacts.css";
@import "componets/footer.css";
@import "componets/slide__carts.css";
@import "style/captcha_generation.css";

/*-----------Media------------*/

@import 'media/1400.css';
@import 'media/1024.css';
@import 'media/1023.css';
@import 'media/768.css';
@import 'media/576.css';



/*-----------------------------------*/

a {
    text-decoration: none;
}
.hero__form {
    color: antiquewhite;
}
body {
    background-color: #ebebeb;
}

/* *{
    outline: 1px solid red;
} */
.mb-30 {
    margin-bottom: 30px;
  }