.box-two {
  display: block;
  max-width: 100%;
  height: 618px;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.contact {
  max-width: 40%;
  margin-left: 45px;
}

.contact__picture {
  display: block;
  flex: 1;
  height: 100%;
  background-image: url("/img/resep.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 60%;
  border-radius: 15px;
  left: 188px;
}

.contact__bold {
  position: relative;
  color: var(--black-color);
  font-weight: 700;
  /*толщина шрифта*/
  font-size: 20px;
  /*размер шрифта*/
  font-family: 'MullerBold';
  font-weight: normal;
}

.style-three-two {
  position: relative;
  width: 360px;
  padding-left: 83px;
  padding-right: 42px;
  font-family: 'MullerMedium';
  font-weight: 400;
  /*толщина шрифта*/
  font-size: 16px;
  /*размер шрифта*/
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
}

.contacts__line {
  border-bottom: 1px solid var(--gray);
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact__info {
  position: relative;
  width: 360px;
  padding-left: 83px;
  padding-right: 42px;
  font-family: 'MullerMedium';
  font-weight: 400;
  /*толщина шрифта*/
  font-size: 16px;
  /*размер шрифта*/
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
}

.contact__address {
  margin-top: 45px;
}

.contact__info__new {
  margin-top: 40px;
}

.contact__tell,
.contact__tell__two {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--gold-color);
  font-family: 'MullerMedium';
}

.contact__tell {
  margin-left: 45px;
}

.contact__tell__two {
  top: 3px;
  left: 146px;
}

.contact__email {
  width: 100px;
}

.contact__email__one,
.contact__email__two{
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--gold-color);
  font-family: 'MullerMedium';
}
.contact__email__one{
  left: 85px;
}
.contact__email__two{
  left: 150px;
}
.contact__email__info{
  margin-left: 150px;
}
.contact__info__time{
  margin-left: 155px;
}
.contacts__indent__two{
  margin-top: 30px;
}
.btn-six{
  display: inline-block;
  position: relative;
  border: 1px;
  border-color: var(--gold-color);
  background-color: var(--White-color);
  border-style: solid;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  border-radius: 10px;
  color: var(--gold-color);
  font-family: 'MullerMedium';
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  padding: 1.5em 1.5em;
  bottom: 0px;
  transition-property: color, background-color;
  transition-duration: 0.2s, 0.3s;
}
.btn-six:focus {
  transition: background 0.3s ease, color 0.2s linear;
}
 .btn-six:hover {
 background-color: var(--gold-color);
 color: var(--white);
 transition-property: color, background-color;
 transition-duration: 0.2s, 0.3s;
}
.btn-six:active{
background-color: var(--brown-cold);
color: var(--white);
}