.hero__container{
    position: relative;
}
.hero__form {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    gap: 15px;
}

.hero__form__button {
    width: 200px;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    color: var( --white);
}

.hero__form__search {
    display: flex;
    width: 100%;
    gap: 15px;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    padding: 3px;
}
.request__input{
    width: 100%;
    height: 36px;
    padding-left: 15px;
    border-radius: 13px;
    border: none;
}
.request__button{
color: var(--white);
padding: 0 21px;
}
.modal-window{
    position: absolute;
    background: var(--white);
    bottom: -20px;
    left: calc(0px + 50px);
}
.container-ten {
    display: flex;
  }

.swiper__img{
    width: 100%;
    height: 100%;
    border-radius: 32px;
}
.hero__title{
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    color: var(--white);
    max-width: 895px;
    font-family: 'MullerBold';
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    margin-bottom: 24px;
}
.hero__description{
    position: absolute;
    margin-top: 280px;
    margin-left: 100px;
    color: var(--white);
    font-family: 'MullerBold';
    max-width: 790px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 90px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--gray);
    width: 20px;
    height: 20px;
}
.swiper-button-prev,
.swiper-button-next {
    color: var(--gray) !important;
}
.swiper-scrollbar{
    display: none;
}