@media (max-width: 1024px) {

  .container {
    padding: 0 30px;
  }

  /*----------------header---------------*/

  .header.open .header__menu__list {
    transform: translateX(100%);
  }

  .header__burger__btn {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 3;
  }

  .header__burger__btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0px;
    top: 18px;
    background-color: var(--black);
    transition: transform .5s, opacity .5s, background-color .5s;
  }

  .header__burger__btn span:nth-child(1) {
    transform: translateY(-10px);

  }

  .header__burger__btn span:nth-child(3) {
    transform: translateY(10px);
  }

  .header.open .header__burger__btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .header__burger__btn span:nth-child(2) {
    opacity: 0;
  }

  .header.open .header__burger__btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .header__logo {
    display: block;
    margin-right: 10px;
    margin-top: 2px;
    margin-left: auto;
  }

  .header__mobaile__menu {
    display: block;
  }

  .header__menu__list {
    width: 420px;
    min-height: fit-content;
    display: block;
    position: absolute;
    top: -22px;
    left: -420px;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    z-index: 2;
    transition: transform .5s;
  }

  .header__item:nth-child(1) {
    padding: 124px 20px 20px 30px;
  }

  .header__item:not(:first-child) {
    margin-left: 0;
    padding: 18px 30px;
  }

  .header__item__link {
    line-height: 32px;
  }

  .display {
    display: block;
  }

  .display__two {
    display: none;
  }

  /* --- hero --- */
  /* --- about ---*/
  .about-description {
    font-size: calc((100vw - 320px)/(1024 - 320) * (16 - 14) + 14px);
    line-height: calc((100vw - 320px)/(1024 - 320) * (32 - 20) + 20px);
    max-width: 100%;
  }
  .display__three{
    display: none;
  }
  footer{
    margin-top: 50px;
  }
  footer .container{
    justify-content: center;
  }
  .footer__smail {
    margin-top: calc((100vw - 320px)/(1024 - 320) * (20 - 0) + 0px);
}
.footer__indent{
  margin-top: 5px;
}
}