@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }

  /*----------------header---------------*/
  .whiteblock {
    position: absolute;
    top: -22px;
    left: -225px;
    width: 420px;
    height: 100px;
    background-color: var(--white);
    z-index: 5;
  }
  .header.open .header__menu__list {
    transform: translateX(100%);
  }

  .header__burger__btn {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 6;
  }

  .header__burger__btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0px;
    top: 18px;
    background-color: var(--black);
    transition:
      transform 0.5s,
      opacity 0.5s,
      background-color 0.5s;
  }

  .header__burger__btn span:nth-child(1) {
    transform: translateY(-10px);
  }

  .header__burger__btn span:nth-child(3) {
    transform: translateY(10px);
  }

  .header.open .header__burger__btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .header__burger__btn span:nth-child(2) {
    opacity: 0;
  }

  .header.open .header__burger__btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .header__logo {
    display: block;
    margin-right: 10px;
    margin-top: 2px;
    margin-left: auto;
  }

  .header__mobaile__menu {
    display: block;
  }

  .header__menu__list {
    width: 420px;
    min-height: fit-content;
    display: block;
    position: absolute;
    top: -22px;
    left: -425px;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--black);
    border-radius: 0px 0px 32px 32px;
    z-index: 2;
    transition: transform 0.5s;
    z-index: 4;
    overflow-y: scroll;
    height: 444px;
  }

  .header__item:nth-child(1) {
    padding: 124px 20px 20px 30px;
  }

  .header__item:not(:first-child) {
    margin-left: 0;
    padding: 18px 30px;
  }

  .header__item__link {
    line-height: 32px;
  }

  .display {
    display: block;
  }

  .display__two {
    display: none;
  }
  .header__other {
    display: none;
  }
  /* --- hero --- */
  /* --- about ---*/
  .about-description {
    font-size: calc((100vw - 320px) / (1024 - 320) * (16 - 14) + 14px);
    line-height: calc((100vw - 320px) / (1024 - 320) * (32 - 20) + 20px);
    max-width: 100%;
  }
  .display__three {
    display: none;
  }
  footer {
    margin-top: 50px;
  }
  footer .container {
    justify-content: center;
    gap: 20px;
  }
  .footer__smail {
    margin-top: calc((100vw - 320px) / (1024 - 320) * (20 - 0) + 0px);
  }
  .footer__indent {
    margin-top: 5px;
  }
}
