@media (max-width: 460px) {
    .how-work__buttons-item{
        width: calc( (100vw - 320px)/(460 - 320) * (175 - 50) + 50px);
        font-size: calc( (100vw - 320px)/(460 - 320) * (16 - 12) + 12px);
        min-width: 97px;
    }
    .how-work__buttons{
        width: calc( (100vw - 320px)/(460 - 320) * (175 - 50) + 50px);
        font-size: calc( (100vw - 320px)/(460 - 320) * (16 - 12) + 12px); 
        min-width: 97px;
    }
    .how-work__left-buttons{
        width: 100%;
    }
    .footer__form form, .footer__form input, .footer__form textarea{
        width: calc( (100vw - 320px)/(460 - 320) * (420 - 280) + 280px);
    }
    .footer-button{
        margin-left: calc( (100vw - 320px)/(460 - 320) * (100 - 20) + 20px);
    }
}