@media (max-width: 684px) {
   
    .hero__title{
        /* font-size: calc((100vw-320px)/(1920-320)*(50-20)+16px); */
        font-size: calc( (100vw - 320px)/(684 - 320) * (50 - 20) + 20px);
    }
    .hero__description{
        font-size: calc( (100vw - 320px)/(684 - 320) * (18 - 12) + 12px);
    }
    .hero__content{
        padding: calc( (100vw - 320px)/(684 - 320) * (80 - 60) + 60px) 22px;
    } 
    .hero-button{
        width: calc( (100vw - 320px)/(684 - 460) * (280 - 162) + 162px);
        height: calc( (100vw - 320px)/(684 - 320) * (78 - 41) + 41px);
        font-size: calc( (100vw - 320px)/(684 - 320) * (23 - 12) + 12px);
    }
    .hero__png{
    width: auto;
    }
    .about-description {
        margin-bottom: 13px;
    }

    .about__left__info {
       display: none;
    }

    .about__zero {
        display: block;
        margin-bottom: 19px;
    }

    .about__zero__info-description {
        font-family: 'Montserrat';
      width: 100%;
     
        line-height: 28px;
        margin-bottom: 12px;
    }

    .about__container {
        gap: 8px;
    }

    .about__zero__info-button {
        max-width: 162px;
        max-height: 39px;
        font-family: 'Montserrat';
        padding: 11px 44px;
        font-size: 12px;
        line-height: 14.63px;
        font-weight: 700;
        color: var(--orange);
        box-sizing: border-box;
        border: 3px solid var(--orange);
        border-radius: 8px;
        cursor: pointer;
    }

    .about__right__block {
        border: none;
        flex-direction: column;
        padding: 0px 0 20px 0px;
    }

    .--about-image-first {
        max-width: 64px;
        max-height: 64px;
        margin: 0 0 2px 0px;
        background-image: url("../../../amg/about320.svg");
        background-repeat: no-repeat;
    }

    .--about-image-seconds {
        max-width: 64px;
        max-height: 64px;
        margin: 0 0 9px 0px;
        background-repeat: no-repeat;
    }

    .--about-image-seconds {
        max-width: 60px;
        max-height: 60px;
        margin: 0 0 7px 0px;
        background-repeat: no-repeat;
    }

    .about__title {
        margin-bottom: 4px;
    }

    .about__right {
        gap: 0;
    }

    .-about-image-seconds {
        margin-bottom: 5px;
    }

    .about__title {
        margin-top: 2px;
    }

    .about__description {
        margin-bottom: 6px;
    }
    .item__question{
        font-size: calc( (100vw - 320px)/(684 - 320) * (20 - 14) + 14px);  
    }
}