@media (max-width: 768px) {

    /*header*/
    .header__logo__img {
        height: 75px;
    }

    .list__cakes {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .container {
        justify-content: space-between;
    }

    .btn {
        width: 30px;
        height: 30px;
    }

    .list__weight__link:not(:first-child) {
        margin-left: 15px;
    }
}