/* --- header --- */

.header {
    padding: 1px 0;
    background-color: var(--white);
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0 0 10px var(--black);
    margin-bottom: 25px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__menu {
    display: flex;
}

.header__logo {
    display: block;
    margin-right: 40px;
}

.header__logo__img {
    height: 95px;
}

.header__menu__list {
    display: flex;
    margin-right: 70px;
    margin-top: 0px;
    flex-wrap: wrap;
    gap: 10px 70px;
}

/* .header__item:not(:first-child){
    margin-left: 85px;
    } -- переход на gap*/
.header__mobaile__menu {
    display: none;
    margin-right: auto;
}

.header__item__link {
    color: var(--black);
    font-family: 'MullerRegular';
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.header__item__link:hover {
    border-bottom: 2px solid #FF9900;
}

.header__item__link:focus {
    border-bottom: none;
    outline: 2px solid var(--orange);
    outline-offset: 5px;
}

.header__item__link:active {
    border-bottom: 1px solid var(--orange-active);
}

.header__menu-button {
    margin-bottom: 13px;
    cursor: pointer;
    margin: 0;

}

.header__bottoms {
    display: flex;
    gap: 20px;
}

.button__indent {
    display: flex;
    height: auto;
    width: auto;
}

.button__indent__a {
    padding: 10px 35px;
}

.header__recycle__svg {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

.header__recycle {
    margin-bottom: 5px;
}

.search {
    position: absolute;
    display: none;
    align-items: center;
    right: 6px;
    width: 539px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    padding: 18px 18px 18px 32px;
    border-radius: 24px;
}

.search__form__faсe {
    display: flex;
}

.search__form__close {
    margin-left: 22px;
    cursor: pointer;
}

.search__form__send {
    margin-left: 14px;
    cursor: pointer;
}

.search__input {
    width: 100%;
    padding: 8px 14px;
    border: none;
    border-radius: none;
    border-bottom: 1px solid var(--gray);
}

.search__for__input:focus {
    outline: none;
    border-color: var(--black);
}

.container-ten {
    display: flex;
}

.contact__one {
    display: flex;
    flex-direction: column;
}

.contact .bottom {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.contact .top p {
    text-align: right;
}

.display {
    display: none;
}

/* --- about__max --- */
.md-20 {
    margin-bottom: 20px;
}

.about__max__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__max__heading {
    font-family: 'MullerRegular';
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
}

.about__max__description {
    width: 90%;
    font-family: 'MullerRegular';
    font-size: 18px;
    max-width: 80%;
    line-height: 32px;
}

/* --- footer --- */

footer {
    width: 100%;
    background: black;
    color: gray;
    padding: 25px 0;
    margin-top: var(--section-gap);
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__text {
    max-width: 363px;
    padding: 75px 0;
}

.footer__form {
    max-width: 400px;
}

.footer__form input {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    height: 60px;
    width: 570px;
}

.footer__form textarea {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    height: 90px;
}

.footer__form input,
.footer__form textarea {
    outline: 0;
    border: none;
    background: #fff;
    color: #c5cfca;
    border-radius: 16px;
    padding: 14px 24px;

}

.footer__form input:focus,
.footer__form textarea:focus {
    outline: 0;
}

.footer__form form,
.footer__form input,
.footer__form textarea {
    width: 100%;
    box-sizing: border-box;
}

.footer__title,
.footer__form input {
    margin-bottom: 25px;
}

.footer__form textarea {
    margin-bottom: 29px;
    resize: none;
    /*без расширения*/
}

.footer__link {
    color: var(--gray);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-decoration: none;
    margin-top: 50px;
    padding: 2px 5px;
}

.footer__link:hover {
    color: gold;
}

.footer__link:focus {
    outline: 1px solid gold;
    color: gray;
}

.--smail-one {
    margin-right: 25px;
}

.footer__text {
    color: var(--gray);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
}

.footer__smail {
    display: flex;
    margin-top: 20px;
}

.ok {
    cursor: pointer;
}

.vk {
    cursor: pointer;
    margin-left: 25px;
}

.smail:hover svg path {
    fill: gold;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.3s;
}

.footer-button {
    width: inherit;
    padding: 0.6em 1.2em;
}

.smail:focus {
    outline: 1px solid gold;
}

.footer__logomini {
    display: none;
}

.footer__indent {
    margin-top: 20px;
}

.footer__logo {
    margin-top: 20px;
}