/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
    letter-spacing: 1px;
    font-family: 'MullerBold';
    font-size: 16px;
}

.form__title {
    text-align: center;
    padding: 0 0 11px 0;
}

.form__group {
    position: relative;
    margin-bottom: 32px;
}

.form__label {
    position: absolute;
    top: 0;
    z-index: -1;
    color: var(--gray);
    transition: 0.3s;
}

.form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form__input:focus {
    border-bottom: 1px solid var(--brown-cold);
}

.form__button {
    padding: 0.8em 1.2em;
    cursor: pointer;
    text-decoration: none;


}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~  .form__label {
    top: -18px;
    font-size: 12px;
    color: var(--gray);
} */



/**/

.login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, .8);
}

.login__form {
    position: relative;
    margin: auto;
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px var(--brown-cold);
    letter-spacing: 1px;
    font-family: 'MullerBold';
    font-size: 16px;
    background: var(--white);
}

.login__form__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 30px;
}

.login__form__close:hover svg path {
    fill: var(--dark-green);
    transition: .3s;
}

.login__form__close:focus svg path {
    outline: 2px solid var(--dark-green);
    outline-offset: 5px;
}

.login__form__close:active svg path {
    fill: var(--dark-green);
}
.login__form__close:active svg{
    outline: 2px solid var(--dark-green)
}
.login__form__title {
    text-align: center;
    padding: 0 0 11px 0;
}

.login__form__group {
    position: relative;
    margin-bottom: 32px;
}

.login__form__label {
    position: absolute;
    top: 0;
    z-index: 20;
    color: var(--gray);
    transition: 0.3s;
}

.login__form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.login__form__input:focus {
    border-bottom: 1px solid var(--brown-cold);
}

.login__form__button {
    padding: 0.8em 1.2em;
    cursor: pointer;
    text-decoration: none;


}